@import "config";

:root{


    // Texts

    --global-font-size: #{ $global-font-size };

    --global-font-weight: #{ $global-font-weight };
    
    


    // User Interface : Dimension

    --dimension-header: #{ $dimension-header };

    --dimension-menu: #{ $dimension-menu };

    --dimension-safe-size: #{ $dimension-safe-size };





    // Animations & Transitions

    --fx-duration: #{ $fx-duration };

    --fx-timing-function: #{ $fx-timing-function };
    
    


    // Icon

    --icon-smaller: #{ $icon-smaller };

    --icon-small: #{ $icon-small };

    --icon-medium: #{ $icon-medium };

    --icon-big: #{ $icon-big };

    --icon-bigger: #{ $icon-bigger };
    



    // Device 
    
    --device-size-smaller-minus: #{ $device-size-smaller-minus };
   
    --device-size-smaller: #{ $device-size-smaller };
   
    --device-size-smaller-plus: #{ $device-size-smaller-plus };


    --device-size-small-minus: #{ $device-size-small-minus };
   
    --device-size-small: #{ $device-size-small };
   
    --device-size-small-plus: #{ $device-size-small-plus };
    

    --device-size-medium-plus: #{ $device-size-medium-plus };
   
    --device-size-medium: #{ $device-size-medium };
   
    --device-size-medium-plus: #{ $device-size-medium-plus };
    

    --device-size-large-minus: #{ $device-size-large-minus };
   
    --device-size-large: #{ $device-size-large };
   
    --device-size-large-plus: #{ $device-size-large-plus };
    

    --device-size-larger-minus: #{ $device-size-larger-minus };
   
    --device-size-larger: #{ $device-size-larger };
   
    --device-size-larger-plus: #{ $device-size-larger-plus };
    



    // Encaps : Margin & Padding

    --encaps-0x: #{ $encaps-0x }; 

    --encaps-1x: #{ $encaps-1x }; 

    --encaps-2x: #{ $encaps-2x }; 
    
    --encaps-3x: #{ $encaps-3x }; 
    
    --encaps-4x: #{ $encaps-4x }; 
    
    --encaps-5x: #{ $encaps-5x }; 

    --encaps-6x: #{ $encaps-6x }; 

    --encaps-7x: #{ $encaps-7x }; 

    --encaps-8x: #{ $encaps-8x }; 

    --encaps-9x: #{ $encaps-9x }; 

    --encaps-10x: #{ $encaps-10x }; 




    // Border : Radius

    --radius-smaller: #{ $radius-smaller }; 

    --radius-small: #{ $radius-small }; 
    
    --radius-medium: #{ $radius-medium }; 
    
    --radius-large: #{ $radius-large };;
    
    --radius-larger: #{ $radius-larger }; 
    





    // Thickness : Volume

    --thickness-smaller: #{ $thickness-smaller };

    --thickness-small: #{ $thickness-small };
    
    --thickness-medium: #{ $thickness-medium };
    
    --thickness-large:  #{ $thickness-large };
    
    --thickness-larger : #{ $thickness-larger };

    --thickness-extra: #{ $thickness-extra };
    
    


    // Border : Epaisseur

    --border-thickness-smaller: #{ $border-thickness-smaller };

    --border-thickness-small: #{ $border-thickness-small };
    
    --border-thickness-medium: #{ $border-thickness-medium };
    
    --border-thickness-large: #{ $border-thickness-large };
    
    --border-thickness-larger: #{ $border-thickness-larger };
    
    

}



body{

    margin: 0;
    
    padding: 0;

    background-color: var(--color-layer);

}


*, :root{

    color: var(--color-text);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: var(--global-font-size);

}

*{

    color: inherit;
    
}

a:not([no-ui]){

    color: var(--color-one);

}

a{ text-decoration: none; }










// Rounded

[ui-rounded], [ui-rounded="medium"] { border-radius: var(--radius-medium) !important; }

[ui-rounded="smaller"]{ border-radius: var(--radius-smaller) !important; }

[ui-rounded="small"]{ border-radius: var(--radius-small) !important; }

[ui-rounded="large"]{ border-radius: var(--radius-large) !important; }

[ui-rounded="larger"]{ border-radius: var(--radius-larger) !important; }

[ui-circle]{ border-radius: 100% !important; }



// Padding & Margin

@for $encaps from 0 through 10 {
    
    [ui-padding~="#{ $encaps }x"]{ padding: var(--encaps-#{ $encaps }x) !important;}

    [ui-padding~="h:#{ $encaps }x"],
    [ui-padding~="horizontal:#{ $encaps }x"]
    {
        padding-left: var(--encaps-#{ $encaps }x) !important;
        padding-right: var(--encaps-#{ $encaps }x) !important;
    }

    
    [ui-padding~="v:#{ $encaps }x"],
    [ui-padding~="vertical:#{ $encaps }x"]
    { 
        padding-top: var(--encaps-#{ $encaps }x) !important;
        padding-bottom: var(--encaps-#{ $encaps }x) !important;
    }
    
    [ui-padding~="top:#{ $encaps }x"]{ padding-top: var(--encaps-#{ $encaps }x) !important; }
    [ui-padding~="right:#{ $encaps }x"]{ padding-right: var(--encaps-#{ $encaps }x) !important; }
    [ui-padding~="bottom:#{ $encaps }x"]{ padding-bottom: var(--encaps-#{ $encaps }x) !important; }
    [ui-padding~="left:#{ $encaps }x"]{ padding-left: var(--encaps-#{ $encaps }x) !important; }
    


    [ui-margin~="#{ $encaps }x"]{ margin: var(--encaps-#{ $encaps }x) !important;}

    [ui-margin~="h:#{ $encaps }x"],
    [ui-margin~="horizontal:#{ $encaps }x"]
    { 
        margin-left: var(--encaps-#{ $encaps }x) !important;
        margin-right: var(--encaps-#{ $encaps }x) !important;
    }
    
    [ui-margin~="v:#{ $encaps }x"],
    [ui-margin~="vertical:#{ $encaps }x"]
    { 
        margin-top: var(--encaps-#{ $encaps }x) !important;
        margin-bottom: var(--encaps-#{ $encaps }x) !important;
    }
    
    [ui-margin~="top:#{ $encaps }x"]{ margin-top: var(--encaps-#{ $encaps }x) !important; }
    [ui-margin~="right:#{ $encaps }x"]{ margin-right: var(--encaps-#{ $encaps }x) !important; }
    [ui-margin~="bottom:#{ $encaps }x"]{ margin-bottom: var(--encaps-#{ $encaps }x) !important; }
    [ui-margin~="left:#{ $encaps }x"]{ margin-left: var(--encaps-#{ $encaps }x) !important; }
    

}






@each $cursor in (
    'alias', 
    'all-scroll',
    'auto',
    'cell',
    'context-menu',
    'col-resize',
    'copy',
    'crosshair',
    'default',
    'e-resize',
    'ew-resize',
    'grab',
    'grabbing',
    'help',
    'move',
    'n-resize',
    'ne-resize',
    'nesw-resize',
    'ns-resize',
    'nw-resize',
    'nwse-resize',
    'no-drop',
    'none',
    'not-allowed',
    'pointer',
    'progress',
    'row-resize',
    's-resize',
    'se-resize',
    'sw-resize',
    'text',
    'url',
    'w-resize',
    'wait',
    'zoom-in',
    'zoom-out'
) {
    
    [ui-mouse="#{ $cursor }"]{
        
        @if $cursor == 'url' {
            
            cursor: attr(data-mouse) #{ $cursor };

        }

        @else{

            cursor: #{ $cursor };

        }
        
    }


}



