


[ui-tags]{

    position: relative;

    &[ui-tags~="absolute"]{
        position: absolute;
    }

    &[ui-tags~="fixed"]{
        position: fixed;
    }

    &[ui-tags~="top"]{ top: 0; }

    &[ui-tags~="left"]{ left: 0; }

    &[ui-tags~="right"]{ right: 0; }

    &[ui-tags~="bottom"]{ bottom: 0; }


    // [ui-tag]{
        
    // }
    
}