


<div header-left ui-tool onclick="location.href='#home'" >

    <div header-icon ui-flex="row align-center-v align-center-h">

        <!-- ui-box="height-2-min" -->

        <img ui-show="tone:light tone:snow" ui-hide="sm" src="/assets/images/app-icon.png" alt="">

        <img ui-show="tone:dark tone:night" ui-hide="sm" src="/assets/images/app-icon--white.png" alt="">

        <img ui-show="sm" src="/assets/images/app-icon-square.png" alt="">

    </div>

    <div ui-hide="sm" header-label >{{ this.props.title }}</div>


</div>



<div header-center >


    <nav 
    ui-box="container smaller clean"
    ui-flex="row align-center-h">

        {% (this.state.menu||{}).map(item=>{ %}


        
        <a 
        no-ui
        href="{%= item.route %}"
        title="{%= item.label %}"
        flex="fill"
        ui-text="{%= this.methods.activeMenu( item.route ) ? 'color-one' : 'weight-thin color-text' %}"
        ui-box="clean" 
        ui-flex="column align-center"
        ui-tool 
        ui-rounded="large" >
    
            <div
            ui-padding="top:3x"
            ui-text="bigger"
            class="fa-solid fa-{%= item.icon %}" ></div>
    
    
            <div ui-padding="top:2x bottom:3x" ui-text="smaller" >{%= item.label %}</div>
    
        </a>
    
        {% }) %}
        
    </nav>
    

</div>



<div header-right >

    <div ui-tools >



        <button ui-box="clean" type="button" ui-tool onclick="location.href='#subscribe'" ui-rounded="large" >

            <span button-icon class="fa-thin fa-shopping-basket" ></span>

            <span ui-hide="sm" button-label="">Panier</span>

        </button>
        



        <button ui-hide="sm" ui-box="clean" type="button" ui-tool @click="this.methods.toggleTone" ui-rounded="large" >

            <span class="fa-thin fa-bell" ></span>

        </button>



        <button ui-box="clean" type="button" ui-tool @click="this.methods.toggleTone" ui-rounded="large" >

            <span class="fa-thin fa-angle-down" ></span>

        </button>

        



        <button ui-hide="sm" ui-box="clean" type="button" ui-tool @click="this.methods.toggleTone" ui-rounded="large" >

            <span class="fa-thin fa-adjust" ></span>

        </button>

    </div>

    
</div>



