


<div header-left ui-tool onclick="location.href='#home'" >

    <div header-icon ui-flex="row align-center-v align-center-h">

        <!-- ui-box="height-2-min" -->

        <img ui-hide="sm" src="/assets/images/app-icon.png" alt="">

        <img ui-show="sm" src="/assets/images/app-icon-square.png" alt="">

    </div>

    <div ui-hide="sm" header-label >{{ this.props.title }}</div>

    <button ui-box="clean" type="button" ui-tool @click="this.methods.openSearch" ui-rounded="large" >

        <span class="fa-thin fa-search" ></span>

    </button>

</div>

<div header-center >{{ this.props.module }}</div>

<div header-right >

    <div ui-tools >




        <button ui-box="clean" type="button" ui-tool onclick="location.href='#login'" ui-rounded="large" >

            <span button-icon class="fa-thin fa-user-circle" ></span>

            <span ui-hide="sm" button-label="">Se connecter</span>

        </button>
        



        <button ui-box="clean" type="button" ui-tool onclick="location.href='#subscribe'" ui-rounded="large" >

            <span button-icon class="fa-thin fa-user-plus" ></span>

            <span ui-hide="sm" button-label="">S'inscrire</span>

        </button>
        



        <button ui-hide="sm" ui-box="clean" type="button" ui-tool @click="this.methods.toggleTone" ui-rounded="large" >

            <span class="fa-thin fa-adjust" ></span>

        </button>

    </div>

    
</div>



