
<!-- Block - Begin  -->

<div 
ui-rounded
ui-margin="v:2x"
ui-fx="transition"
ui-box="layer boxed">

    <div 
    ui-flex="row align-center-v"
    ui-padding="v:3x"
    ui-box="">

        <div 
        ui-circle
        ui-box="one fill square-1"></div>


        <div 
        ui-padding="left:3x"
        ui-flex="column align-center-v"
        flex="fill ">

            <div ui-box="">{%= this.props.storename %}</div>
            <div 
            ui-text="small"
            ui-box="">{%= this.props.about %}</div>
            
        </div>



        <div 
        ui-tools="">

            <div 
            ui-flex="row align-center-v"
            ui-tool="">

                <span 
                ui-padding="right:2x"
                ui-text="big"
                tool-label>{%= this.props.liked %}</span>

                <span tool-icon class="fa-thin fa-heart fa-2x"></span>
                
            </div>

        </div>
        

    </div>


    <div ui-box="thumb aspect-portrait">

        <img src="/assets/images/thumb.jpg" alt="">

        <div 
        ui-padding="v:2x h:3x"
        ui-flex="row"
        ui-tags="absolute top left">

            {% try{ %}

            {% var tags = JSON.parse(this.props.tags || '[]') || []; %}
            {% (tags).map(tag=>{ %}
            
            <div 
            ui-margin="h:1x"
            ui-padding="v:2x h:3x"
            ui-rounded="larger"
            ui-text="color-white"
            ui-box="gradient:one-two"
            ui-tag>
                {%= tag %}
            </div>

            {% }) %}

            {% }catch(e){} %}

        </div>
        
    </div>
    


    <div 
    ui-padding="top:5x"
    ui-padding="" 
    ui-box="content">

        {%= this.props.description %}

    </div>
    

    <div 
    ui-flex="row align-center"
    ui-padding="bottom:3x top:5x" 
    ui-tools="">


        <button 
        type="button" 
        ui-margin="h:1x"
        ui-button="" 
        ui-rounded="large"
        ui-tool="">

            <i button-icon class="fa-thin fa-paper-plane"></i>

            <span ui-hide="sm" button-label="">Message</span>
            
        </button>

        
    
        <button 
        type="button" 
        ui-margin="h:1x"
        ui-button="" 
        ui-rounded="large"
        ui-tool="">
            
            <i button-icon class="fa-thin fa-share-alt"></i>

            <span ui-text="weight-bold" button-label="">{%= this.props.shared || 'Jamais' %}</span>

            <span ui-hide="sm" button-label="">Partages</span>
            
        </button>
        
        
        

        <button 
        type="button" 
        ui-margin="h:1x"
        ui-button="" 
        ui-rounded="large"
        ui-tool="">

            <i button-icon class="fa-thin fa-comment-alt-lines"></i>

            <span ui-text="weight-bold" button-label="">{%= this.props.commented || 'Jamais' %}</span>

            <span ui-hide="sm" button-label="">Commentaires</span>
            
        </button>
        


        <button 
        type="button" 
        ui-margin="h:1x"
        ui-button="" 
        ui-text="color-white"
        ui-rounded="large"
        ui-box="gradient:one-two" 
        onclick="location.href='#found?uid=test'"
        ui-tool="">
            
            <i button-icon  class="fa-thin fa-plus"></i>

            <span ui-hide="sm" button-label="">Panier</span>
            
        </button>
        

    </div>

    
    
    
</div>

<!-- Block - End  -->
